In [3]:
# https://www.youtube.com/watch?v=KgCgpCIOkIs&t=2151s

import pandas as pd
#for dataframe, tables

In [4]:
import numpy as np
#this is for arrays , for mathematical use

In [5]:
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv('Diwali_Sales_Data.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 267: invalid start byte

In [ ]:
df = pd.read_csv('Diwali_Sales_Data.csv', encoding= 'unicode_escape')

In [ ]:
df.shape

In [ ]:
df.head()
#this gives only 5 values

In [ ]:
df.head(10)

In [ ]:
df.info

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

Here we have to give a different name to the data, to avoid this use" inplace=True" this save the code without giving different name

In [1]:
df.drop(['Status','unnamed1'],axis=1, inplace=True)

#names are in square bracket and axis=1 means the whole row

NameError: name 'df' is not defined

In [ ]:
df.isnull().sum()

we still have 12 missing values , to remove this use "dropna"

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

how to change data type

In [ ]:
df.info() #amount is float , we need to change it into int

# use "astype" to change data type
#always write column name in [] brackets

In [ ]:
df['Amount']=df['Amount'].astype('int')

In [ ]:
df['Amount'].dtype

In [ ]:
df.columns

EDA

In [ ]:
import seaborn as sns

In [ ]:
ax=sns.countplot(x='Gender',data=df)
for bars in ax.containers:
    ax.bar_label(bars)

Women purchase more than men

In [ ]:
# to see how much amount is spend by both the genders , make bar plot

In [ ]:
# plotting a bar chart for gender vs total amount

df.groupby(['Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

In [ ]:
sales_gen=df.groupby(['Gender'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.barplot(x='Gender',y='Amount',data=sales_gen)

this is showing that women purchasing power is more than the men as they are spending more.
From above graphs we can see that most of the buyers are females and even the purchasing power of females are greater than men

# AGE

In [ ]:
#Now we analyses age group , which age group is spending more

In [ ]:
df.describe

In [ ]:
sns.countplot(x='Age Group',data=df)

In [ ]:
sales_age_grp=df.groupby(['Age Group'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)

#there is no neeed to sort values

In [ ]:
sns.barplot(x='Age Group',y='Amount',data=sales_age_grp)

In [ ]:
# include age in this graph use "hue"

In [ ]:
sns.countplot(x='Age Group', hue='Gender',data=df)

In [ ]:
#From above graphs we can see that most of the buyers are of age group between 26-35 yrs female

# State

In [ ]:
sns.countplot(x='State',data=df)

In [ ]:
#consider top 10 states

In [ ]:
# total number of orders from top 10 states

sales_state = df.groupby(['State'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(10)

sns.set(rc={'figure.figsize':(15,5)})
sns.barplot(data = sales_state, x = 'State',y= 'Orders')

NameError: name 'df' is not defined